@import "default.css";

a:link{
    color:#17387B;
    text-decoration:underline;
}

a:visited{
    color:#69789C;
    text-decoration:underline;
}

a:hover{
    text-decoration:underline;
}

div.Item{
    border-bottom: solid 1px #808080;
    width:750px;
    height:220px;
}


div.Item h2{
    font-size:medium;
    text-align:left;
}

div.Item img{
    border: none;
    float: left;
    clear: both;
    margin: 5px;
}

div.Item p{
    height: 146px;
    
    line-height:120%;
    font-size:90%;
    overflow:hidden;
    color:#808080;

}

div.Item p.Price{
    padding-top:5px;
    padding-bottom:5px;
    font-size:smaller;
    color:#990000;
    font-weight:bolder;
}